@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --base-color: white;
    --base-variant: #d1d1d1;
    --text-color: #111111;
    --secondary-text: grey;
    --icon-color: black;
}

.darkmode {
    --base-color: #202020;
    --base-variant: #363636;
    --text-color: #e6e6e6;
    --secondary-text: hsl(0, 0%, 60%);
    --icon-color: #e6e6e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: var(--base-color);
    color: var(--text-color);
}

h1 {
    font-size: 1.5rem;
}

.about-container {
    display: flex;
    gap: 2em;
    margin-inline: auto;
    max-width: fit-content;
    padding: 2em;
    align-items: center;
}

.about-me {
    display: grid;
    gap: 1em;
    max-width: 800px;
}

.study-label {
    font-size: 1.25rem;
    font-weight: normal;
}

.contact {
    display: grid;
    gap: 0.25em;
}

.contact-media {
    display: grid;
    gap: 0.4em;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.contact-item>a {
    text-decoration: none;
    color: var(--text-color);
}

.icon {
    max-width: 30px;
    fill: var(--icon-color);
}

.chayanne {
    max-width: 400px;
    margin-inline: auto;

}

.chayanne p {
    text-align: center;
    font-size: 0.80rem;
    color: var(--secondary-text);
}

.chayanne img {
    max-width: 100%;
    aspect-ratio: 5 / 4;
    object-fit: cover;
    border-radius: 12px;
}

.theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 20px;
    right: 20px;
}

.theme-switch>svg {
    fill: var(--icon-color);
}

.theme-switch>svg:last-child {
    display: none;
}

.darkmode .theme-switch>svg:first-child {
    display: none;
}

.darkmode .theme-switch>svg:last-child {
    display: block;
}

@media (width <= 1000px) {
    .about-container {
        flex-wrap: wrap;
    }
}
